*.sdf
*.suo
*.bak
*.user
*.pyd
*.opensdf
*.idb
*.pdb
*.lnk
*.ngc
*.stl
CMakeCache.txt
HeeksCAD.exe
Build
Release
ClipperRelease
Debug
ClipperDebug
lib
arc
bin
Unicode Release
vc_msw
vc_mswd
dll
CMakeFiles